body{
    background: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.foto{
    border: rgb(1, 68, 99) 3px solid;
    border-radius: 50%;
    max-width: 100px;
    height: auto;
}

#title, .subtitle, .post-title{
    color: rgb(1, 68, 99);
} 

#title{
    font-size: 35px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: rgb(1, 68, 99);;
}

.post-title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fafafa;
    padding: 15px;
    border: #d1d1d1 3px solid;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: right;
}

.img-post{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.contact-list{
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
}

.contact-list li a{
    text-decoration: none;
}

